In [ ]:
import pandas as pd

# Load both datasets
train_df = pd.read_csv('/content/fraudTrain.csv')
test_df = pd.read_csv('/content/fraudTest.csv')

# Quick preview
print("Train data:")
print(train_df.head())

print("\nTest data:")
print(test_df.head())

Train data:
   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2019-01-01 00:00:18  2703186189652095
1           1   2019-01-01 00:00:44      630423337322
2           2   2019-01-01 00:00:51    38859492057661
3           3   2019-01-01 00:01:16  3534093764340240
4           4   2019-01-01 00:03:06   375534208663984

                             merchant       category     amt      first  \
0          fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1     fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                fraud_Lind-Buckridge  entertainment  220.11     Edward
3  fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                 fraud_Keeling-Crist       misc_pos   41.96      Tyler

      last gender                        street  ...      lat      long  \
0    Banks      F                561 Perry Cove  ...  36.0788  -81.1781
1     Gill      F  43039 Riley Greens Suite 393  ...  48.8878 -118.2105
2  Sanchez      M      594 White Dale Suite 530  ...  42.1808 -112.2620
3    White      M   9443 Cynthia Court Apt. 038  ...  46.2306 -112.1138
4   Garcia      M              408 Bradley Rest  ...  38.4207  -79.4629

   city_pop                                job         dob  \
0    3495.0          Psychologist, counselling  1988-03-09
1     149.0  Special educational needs teacher  1978-06-21
2    4154.0        Nature conservation officer  1962-01-19
3    1939.0                    Patent attorney  1967-01-12
4      99.0     Dance movement psychotherapist  1986-03-28

                          trans_num     unix_time  merch_lat  merch_long  \
0  0b242abb623afc578575680df30655b9  1.325376e+09  36.011293  -82.048315
1  1f76529f8574734946361c461b024d99  1.325376e+09  49.159047 -118.186462
2  a1a22d70485983eac12b5b88dad1cf95  1.325376e+09  43.150704 -112.154481
3  6b849c168bdad6f867558c3793159a81  1.325376e+09  47.034331 -112.561071
4  a41d7549acf90789359a9aa5346dcb46  1.325376e+09  38.674999  -78.632459

   is_fraud
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0

[5 rows x 23 columns]

Test data:
   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2020-06-21 12:14:25  2291163933867244
1           1   2020-06-21 12:14:33  3573030041201292
2           2   2020-06-21 12:14:53  3598215285024754
3           3   2020-06-21 12:15:15  3591919803438423
4           4   2020-06-21 12:15:17  3526826139003047

                               merchant        category    amt   first  \
0                 fraud_Kirlin and Sons   personal_care   2.86    Jeff
1                  fraud_Sporer-Keebler   personal_care  29.84  Joanne
2  fraud_Swaniawski, Nitzsche and Welch  health_fitness  41.28  Ashley
3                     fraud_Haley Group        misc_pos  60.05   Brian
4                 fraud_Johnston-Casper          travel   3.19  Nathan

       last gender                       street  ...      lat      long  \
0   Elliott      M            351 Darlene Green  ...  33.9659  -80.9355
1  Williams      F             3638 Marsh Union  ...  40.3207 -110.4360
2     Lopez      F         9333 Valentine Point  ...  40.6729  -73.5365
3  Williams      M  32941 Krystal Mill Apt. 552  ...  28.5697  -80.8191
4    Massey      M     5783 Evan Roads Apt. 465  ...  44.2529  -85.0170

   city_pop                     job         dob  \
0    333497     Mechanical engineer  1968-03-19
1       302  Sales professional, IT  1990-01-17
2     34496       Librarian, public  1970-10-21
3     54767            Set designer  1987-07-25
4      1126      Furniture designer  1955-07-06

                          trans_num   unix_time  merch_lat  merch_long  \
0  2da90c7d74bd46a0caf3777415b3ebd3  1371816865  33.986391  -81.200714
1  324cc204407e99f51b0d6ca0055005e7  1371816873  39.450498 -109.960431
2  c81755dbbbea9d5c77f094348a7579be  1371816893  40.495810  -74.196111
3  2159175b9efe66dc301f149d3d5abf8c  1371816915  28.812398  -80.883061
4  57ff021bd3f328f8738bb535c302a31b  1371816917  44.959148  -85.884734

   is_fraud
0         0
1         0
2         0
3         0
4         0

[5 rows x 23 columns]

In [ ]:
drop_cols = [
    'Unnamed: 0', 'cc_num', 'trans_num', 'first', 'last', 'street',
    'trans_date_trans_time', 'dob'
]

train_df.drop(columns=drop_cols, inplace=True)
test_df.drop(columns=drop_cols, inplace=True)

In [ ]:
print("Train missing values:\n", train_df.isnull().sum())
print("\nTest missing values:\n", test_df.isnull().sum())

Train missing values:
 merchant      0
category      0
amt           0
gender        0
city          0
state         0
zip           1
lat           1
long          1
city_pop      1
job           1
unix_time     1
merch_lat     1
merch_long    1
is_fraud      1
dtype: int64

Test missing values:
 merchant      0
category      0
amt           0
gender        0
city          0
state         0
zip           0
lat           0
long          0
city_pop      0
job           0
unix_time     0
merch_lat     0
merch_long    0
is_fraud      0
dtype: int64

In [ ]:
train_df.dropna(inplace=True)

In [ ]:
print(train_df.dtypes)

merchant       object
category       object
amt           float64
gender         object
city           object
state          object
zip           float64
lat           float64
long          float64
city_pop      float64
job            object
unix_time     float64
merch_lat     float64
merch_long    float64
is_fraud      float64
dtype: object

In [ ]:
for col in ['merchant', 'category', 'gender', 'city', 'state', 'job']:
    print(f"{col}: {train_df[col].nunique()} unique values")

merchant: 693 unique values
category: 14 unique values
gender: 2 unique values
city: 863 unique values
state: 51 unique values
job: 483 unique values

In [ ]:

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix


# Drop high-cardinality columns (too many unique values)
high_card_cols = ['merchant', 'city', 'job']
train_df.drop(columns=high_card_cols, inplace=True)
test_df.drop(columns=high_card_cols, inplace=True)

# One-hot encode low-cardinality categorical columns
cat_cols = ['gender', 'category', 'state']
train_df = pd.get_dummies(train_df, columns=cat_cols, drop_first=True)
test_df = pd.get_dummies(test_df, columns=cat_cols, drop_first=True)

# Align columns (in case test set is missing some dummy columns)
train_df, test_df = train_df.align(test_df, join='left', axis=1, fill_value=0)

# Split into features and target
X_train = train_df.drop('is_fraud', axis=1)
y_train = train_df['is_fraud']

X_test = test_df.drop('is_fraud', axis=1)
y_test = test_df['is_fraud']

# Scale features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train Logistic Regression model
model = LogisticRegression(max_iter=1000, class_weight='balanced')
model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_test)

print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Confusion Matrix:
 [[518620  34954]
 [   582   1563]]

Classification Report:
               precision    recall  f1-score   support

           0       1.00      0.94      0.97    553574
           1       0.04      0.73      0.08      2145

    accuracy                           0.94    555719
   macro avg       0.52      0.83      0.52    555719
weighted avg       1.00      0.94      0.96    555719

In [ ]:
y_pred = model.predict(X_test)
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print("‚úÖ Accuracy:", accuracy_score(y_test, y_pred))
print("\nüìä Classification Report:\n", classification_report(y_test, y_pred))
print("\nüîç Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

‚úÖ Accuracy: 0.936054012909402

üìä Classification Report:
               precision    recall  f1-score   support

           0       1.00      0.94      0.97    553574
           1       0.04      0.73      0.08      2145

    accuracy                           0.94    555719
   macro avg       0.52      0.83      0.52    555719
weighted avg       1.00      0.94      0.96    555719


üîç Confusion Matrix:
 [[518620  34954]
 [   582   1563]]